{% if _file.S_IMAGE %}
<dl class="filedoawnload">
	<dt class="attach-image"><img src="{{ _file.U_INLINE_LINK }}" class="postimage" alt="{{ _file.DOWNLOAD_NAME }}" onclick="viewableArea(this);" /></dt>
	{% if _file.COMMENT %}<dd><em>{{ _file.COMMENT }}</em></dd>{% endif %}
	<dd>{{ _file.DOWNLOAD_NAME }} ({{ _file.FILESIZE }} {{ _file.SIZE_LANG }}) {{ _file.L_DOWNLOAD_COUNT }}</dd>
</dl>
{% endif %}
{% if _file.S_FILE %}
<div class="download-blocks">
	<dl class="extra-box download orange">
		<dt><a	href="{{ _file.U_DOWNLOAD_LINK }}">{{ _file.DOWNLOAD_NAME }}</a></dt>
		{% if _file.COMMENT %}<dd><em>{{ _file.COMMENT }}</em></dd>{% endif %}
		<dd>({{ _file.FILESIZE }} {{ _file.SIZE_LANG }}) {{ _file.L_DOWNLOAD_COUNT }}</dd>
		<dd>{% if (U_MCP or U_ACP) %}<a href="{{ U_DOWNLOADLOG }}?file={{ _file.U_FILE_ID }}" onclick="popup(this.href, 950, 350); return false;" title="{{ lang('DOWNLOADLOG_VIEW_LOG') }}" >{{ lang('DOWNLOADLOG_VIEW_LOG') }}</a>{% endif %}</dd>
	</dl>
</div>
{% endif %}