<!-- INCLUDE simple_header.html -->
<span>
<h3>{L_DOWNLOADERS_LOG}{L_COLON}</h3>
</span>
<div class="forumbg">
	<div class="inner">
		<table class="table1" cellspacing="1">
			<thead>
			<tr>
				<th style="text-align: left">{L_DOWNLOADLOG_USERNAME}</th>
				<th style="text-align:center">{L_DOWNLOADLOG_DATE}</th>
				</tr>
			</thead>
			<tbody>
			<!-- BEGIN downloaders -->
			<tr class="bg1">
				<td>{downloaders.D_USERNAME}</td>
				<td align="center">{downloaders.D_TIME}</td>
			</tr>
			<!-- END downloaders -->
			</tbody>
		</table>
	</div>
</div>

<!-- INCLUDE simple_footer.html -->

		